@import 'colors.scss';

h1 {
  font-size: 48px;
}
h1,
p {
  margin: 10px;
}
.matchedCell {
  background-color: #c83349 !important;
  color: $white !important;
}
.board {
  min-width: 300px;
  margin: 10px;
  .square {
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background: $squarePink;
    border: 0.5px solid $borderPink;
    line-height: 60px;
    text-align: center;
    &.zero {
      background: $zeroBg;
    }
  }
}

input[type='submit'] {
  color: $white;
  background: $btnBg;
  border: 1px solid $btnBg;
  font-size: 20px;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 50px;
  &:hover {
    box-shadow: 1px 1px 1px 1px $black;
  }
}
